<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <div v-if="books.length">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>书籍名称</th>
              <th>出版日期</th>
              <th>价格</th>
              <th>购买数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <!-- 以下变量是可变，不能将其写死 -->
          <tbody>
            <tr v-for="(item,index) in books">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date}}</td>
              <!-- 可以用以下形式对数字格式进行修改，改为两位 -->
              <!-- <td>{{'¥'+item.price.toFixed(2)}}</td> -->
              <!-- 推荐使用过滤器形式 -->
              <td>{{item.price|showPrice}}</td>
              <td>
                <!-- v-bind:disabled表示当item.count小于等于1时，该按钮不再进行交互 -->
                <button
                  @click="decrement(index)"
                  v-bind:disabled="item.count<=1"
                >
                  -
                </button>
                {{item.count}}
                <button @click="increment(index)">+</button>
              </td>
              <td>
                <button @click="removeHandle">移除</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>总价格：{{totalPrice|showPrice}}</h2>
      </div>
      <h2 v-else>购物车为空</h2>
    </div>
    <script src="../vue.js"></script>
    <script src="./main.js"></script>
    <script></script>
  </body>
</html>
