<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- 单选框对应的是一个布尔值，所选框对应的是一个数组类型 -->
      <!-- 1、checkbox单选框 -->
      <label for="agree">
        <input type="checkbox" id="agree" v-model="isAgree" />同意协议
      </label>
      <h2>您选择的是：{{isAgree}}</h2>
      <div>
        <button :disabled="!isAgree">下一步</button>
      </div>

      <!-- 2、checkbox多选框 -->
      <label for="">
        <input type="checkbox" value="篮球" v-model="hobbies" />篮球
        <input type="checkbox" value="足球" v-model="hobbies" />足球
        <input type="checkbox" value="兵乓球" v-model="hobbies" />兵乓球
        <input type="checkbox" value="羽毛球" v-model="hobbies" />羽毛球
      </label>
      <h2>您的爱好是：{{hobbies}}</h2>
    </div>
    <script src="../vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          isAgree: false,
          hobbies: [],
        },
        computed: {},
        methods: {},
      });
    </script>
  </body>
</html>
